
{% extends 'uploader/index.html' %}
{% block title %}
    Login
{% endblock title %}

{% block content %}
<div id="container">
    <div class= "form-container">
        <span class= "form-heading">Let's Log In</span>
        <form action="" method="POST">
    
          <div class= "input-group">
              <input type="text" placeholder="Username..."required>
          </div>
          <div class= "input-group">
            <input type="text" placeholder="Password..."required>
        </div>
          <button type="button"class="signup-button" >Log in</button>
          
        </form>
      </div>
</div>
{% endblock content %}
