{% extends 'uploader/index.html' %}
{% block title %}
    Home
{% endblock title %}

{% block content %}
<section >
    <div class="container mt-3">
        <div class = "row justify-content-center">
            <div class = "col-md-8">
                <div class="card shadow">
                    <div class = "card-header">
                        <h2>Register User</h2>

                    </div>
                    <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class = "mb-3">
                            <label>Username</label>
                            {{form.username}}
                        </div>
                        <div class = "mb-3">
                            <label>E-mail</label>
                            {{form.email}}
                        </div>
                        <div class = "mb-3">
                            <label>Password</label>
                            {{form.password1}}
                        </div>
                        <div class = "mb-3">
                            <label>Confirm Password</label>
                            {{form.password2}}
                        </div>
                        <button type="submit" class = "btn btn-success"> Register </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}